{% extends 'registration/base.html' %}
{% block content %}
ola
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if user.is_authenticated %}
    <p>You are logged in as: {{user.get_username}}</p>
    <p><a href="{% url 'logout' %}?next=/">Logout</a> here if you want.</p>
{% else %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}
{% endblock %}